<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN: ACCORDION DEMO -->
        <div class="portlet light" ng-controller="DataListCtrl">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase" data-ng-bind="$state.current.data.pageTitle"></span>
                    <span class="caption-helper" data-ng-bind="$state.current.data.pageTitle"></span>
                </div>
                <div class="tools">
                    <ul class="page-breadcrumb breadcrumb">
                        <li>
                            <a href="#/home.html">管理首页</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li class="active" data-ng-bind="$state.current.data.pageTitle"> </li>
                    </ul>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row clearfix">
                    <div class="col-sm-4">
                        <a href="#/adminadd.html" class="btn green-haze btn-outline sbold uppercase"> <i class="fa fa-plus"></i> 添加</a>
                        <button href="#/home.html" class="btn red-haze btn-outline sbold uppercase" ng-click="delete(delData,$event)"> <i class="glyphicon glyphicon-remove"></i> 删除</button>
                    </div>
                </div>
                <div class="row margin-top-10">
                    <div class="col-xs-12">

                        [#with .list]
                        <table class="table table-bordered table-striped mainTable">
                            <thead>
                                <tr>
                                    <th class="col-check"> <input type="checkbox" ng-model="all" ng-click="checkAll($event)">全选 </th>
                                    <th> 管理员名称 </th>
                                    <th> 分组 </th>
                                    <th class="col-btn-1"> 修改 </th>
                                </tr>
                            </thead>
                            <tbody class="data-list" ng-controller="OtherController">
                                [#range $index,$item:=.]
                                <tr>
                                    <td class="text-center">
                                        [#if ne $.userid $item.Id ]
                                        <input type="checkbox" class="item-check" ng-click="check([#$item.Id],$event)" ng-checked="all" value="[#$item.Id]"> [#end]
                                    </td>
                                    <td>
                                        [#$item.Userid]
                                    </td>
                                    <td>
                                        {{getGroupName([#$item.Usertype])}}
                                    </td>
                                    <td class="text-center">
                                        <a href="#/adminadd.html?id=[#$item.Id]" class="btn btn-xs blue sbold"> <i class="fa fa-edit"></i> 修改 </a>
                                    </td>
                                </tr>
                                [#end]
                            </tbody>
                        </table>
                        [#else]
                        <div class="alert alert-info">
                            <strong>提示：</strong> 没有管理员数据
                        </div>
                        [#end] [#template "admin/tpl/pagination.html" .]
                    </div>
                </div>
            </div>
        </div>
        <!-- END: ACCORDION DEMO -->
    </div>
</div>
<!-- END MAIN CONTENT -->

<script>
    var deleteUrl = "/api/ggcms_admin/delete";

    function OtherController($scope) {
        var admingroup = [#.admingroup];
        $scope.getGroupName = function(gid) {
            for (i in admingroup) {
                if (admingroup[i].Evalue == gid.toString()) {
                    return admingroup[i].Ename;
                }
            }
            return gid;
        };

    }
</script>