<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN: ACCORDION DEMO -->
        <div class="portlet light" ng-controller="DataEditCtrl">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <i class="icon-settings font-green-sharp"></i>
                    <span class="caption-subject bold uppercase" data-ng-bind="$state.current.data.pageTitle"></span>
                    <span class="caption-helper" data-ng-bind="$state.current.data.pageTitle"></span>
                </div>
                <div class="tools">
                    <ul class="page-breadcrumb breadcrumb">
                        <li>
                            <a href="#/home.html">管理首页</a>
                            <i class="fa fa-circle"></i>
                        </li>
                        <li class="active" data-ng-bind="$state.current.data.pageTitle"> </li>
                    </ul>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-xs-12">
                        <form class="form-horizontal" name="ggcmsForm" role="form" novalidate>
                            <input type="hidden" value="[#.info.Id]" ng-model="data.Id">
                            <div class="form-body">
                                <div class="form-group" ng-class="{'has-error' : ggcmsForm.Userid.$invalid&&!ggcmsForm.Userid.$pristine}">
                                    <label class="col-md-3 control-label">管理员帐号</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Userid" ng-disabled="data.Id > 0" minlength="3" maxlength="30" class="form-control" placeholder="管理员帐号" ng-model="data.Userid" required>
                                        <span class="help-block" ng-show="ggcmsForm.Userid.$invalid&&!ggcmsForm.Userid.$pristine"> 管理员帐号请输入3到30个的字符 </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">密码</label>
                                    <div class="col-md-9" ng-class="{'has-error' : ggcmsForm.Pwd.$invalid&&!ggcmsForm.Pwd.$pristine}">
                                        [#if gt .info.Id 0]
                                        <input type="password" name="Pwd" maxlength="255" class="form-control" placeholder="密码" ng-model="data.Pwd"> [#else]
                                        <input type="password" name="Pwd" maxlength="255" class="form-control" placeholder="密码" ng-model="data.Pwd" required> [#end]
                                        <span class="help-block" ng-show="ggcmsForm.Pwd.$invalid&&!ggcmsForm.Pwd.$pristine"> 必须输入密码,且不得超出255个字符 </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">分组</label>
                                    <div class="col-md-9">
                                        <select class="form-control input-inline" name="Usertype" id="Usertype" ng-model="data.Usertype" ng-options="kv.Evalue as kv.Ename for kv in data.groups">
                                            <option value="" selected>---请选择---</option> 
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">邮箱</label>
                                    <div class="col-md-9">
                                        <input type="email" name="Email" class="form-control" placeholder="邮箱" ng-model="data.Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">名称</label>
                                    <div class="col-md-9">
                                        <input type="text" name="Tname" class="form-control" placeholder="名称" ng-model="data.Tname">
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <hr/>
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <button class="btn green" ng-click="update(data)" ng-disabled="ggcmsForm.$invalid"> <span class="fa fa-save"></span> 保存</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!-- END: ACCORDION DEMO -->
    </div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS -->
<script>
    var infoData = {
        data: [#.info],
        postUrl: '/api/ggcms_admin/',
        msgTitle: "管理员信息",
        msgShowInput: "Userid"
    };
    infoData.data.groups = [#.admingroup];
</script>
<!-- END MAIN JS -->